<a href="https://colab.research.google.com/github/Felipepa9/MADSI/blob/main/ENTREGA_3_%7C%7C_CIENCIA_DE_DATOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importar el dataset
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/CIENCIA DE DATOS/DATA_MAD.csv')
data.head()

,scheduled_flight_leg_block_off_date,scheduled_flight_leg_block_off_time,scheduled_flight_leg_block_off_date_utc,scheduled_flight_leg_block_off_time_utc,marketing_airline_code,operating_flight_num,origin_leg_iata_airport_code,destination_leg_iata_airport_code,flight_leg_registration_code,actual_flight_leg_fleet_name,...,FLIGHT_KEY,POS_DISP_TOTALES,total_pax_qty,total_capacity_leg_qty,fo_pct,pax_weight_kg_qty,pax_bags_qty,pax_bags_net_weight_kg_qty,total_pax_qty_est,maximum_payload_kg_qty
0,2024-11-06,00:45:00,2024-11-05,23:45:00,LA,2485,MAD,LIM,CCBGE,B789,...,2485MADLIM2024-11-06,36,NaN,NaN,NaN,24554.0,370.0,6842.0,296.0,49853.0
1,2024-11-06,22:40:00,2024-11-06,21:40:00,LA,8065,MAD,GRU,CCBGD,B789,...,8065MADGRU2024-11-06,36,303.0,298.0,1.016779,NaN,NaN,NaN,NaN,NaN
2,2024-11-06,15:30:00,2024-11-06,14:30:00,LA,711,MAD,BOG,CCBBF,B787,...,711MADBOG2024-11-06,28,252.0,243.0,1.037037,18571.0,224.0,3936.0,223.0,44078.0
3,2024-11-06,23:35:00,2024-11-06,22:35:00,LA,705,MAD,SCL,CCBGH,B789,...,705MADSCL2024-11-06,36,301.0,300.0,1.003333,NaN,NaN,NaN,NaN,NaN
4,2024-11-05,15:30:00,2024-11-05,14:30:00,LA,711,MAD,BOG,CCBBA,B787,...,711MADBOG2024-11-05,28,216.0,243.0,0.888889,18317.0,195.0,3744.0,219.0,43421.0

In [2]:
# Observación de valores nulos
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3791 entries, 0 to 3790
Data columns (total 21 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   scheduled_flight_leg_block_off_date      3791 non-null   object
 1   scheduled_flight_leg_block_off_time      3791 non-null   object
 2   scheduled_flight_leg_block_off_date_utc  3791 non-null   object
 3   scheduled_flight_leg_block_off_time_utc  3791 non-null   object
 4   marketing_airline_code                   3791 non-null   object
 5   operating_flight_num                     3791 non-null   int64
 6   origin_leg_iata_airport_code             3791 non-null   object
 7   destination_leg_iata_airport_code        3791 non-null   object
 8   flight_leg_registration_code             3775 non-null   object
 9   actual_flight_leg_fleet_name             3775 non-null   object
 10  actual_flight_leg_fleet_name_code        3775 non-null   object
 11  FLIGHT_KEY                               3791 non-null   object
 12  POS_DISP_TOTALES                         3791 non-null   int64
 13  total_pax_qty                            3544 non-null   float64
 14  total_capacity_leg_qty                   3544 non-null   float64
 15  fo_pct                                   3544 non-null   float64
 16  pax_weight_kg_qty                        3092 non-null   float64
 17  pax_bags_qty                             3093 non-null   float64
 18  pax_bags_net_weight_kg_qty               3093 non-null   float64
 19  total_pax_qty_est                        3092 non-null   float64
 20  maximum_payload_kg_qty                   3093 non-null   float64
dtypes: float64(8), int64(2), object(11)
memory usage: 622.1+ KB

In [3]:
data.isnull().sum()

scheduled_flight_leg_block_off_date          0
scheduled_flight_leg_block_off_time          0
scheduled_flight_leg_block_off_date_utc      0
scheduled_flight_leg_block_off_time_utc      0
marketing_airline_code                       0
operating_flight_num                         0
origin_leg_iata_airport_code                 0
destination_leg_iata_airport_code            0
flight_leg_registration_code                16
actual_flight_leg_fleet_name                16
actual_flight_leg_fleet_name_code           16
FLIGHT_KEY                                   0
POS_DISP_TOTALES                             0
total_pax_qty                              247
total_capacity_leg_qty                     247
fo_pct                                     247
pax_weight_kg_qty                          699
pax_bags_qty                               698
pax_bags_net_weight_kg_qty                 698
total_pax_qty_est                          699
maximum_payload_kg_qty                     698
dtype: int64

In [4]:
# Observación de las variables categoricas nominales determinantes y Limpieza de variables categoricas nominales que NO se tendrán en cuenta en el análisis, porque son tipos de aeronaves que ya NO se usan en las rutas origen MAD

data['actual_flight_leg_fleet_name'].unique()

array(['B789', 'B787', nan, 'B777', 'B767', 'A321'], dtype=object)

In [5]:
data.drop(data[data['actual_flight_leg_fleet_name'] == 'A321'].index,inplace=True)

In [6]:
data.dropna(subset=['flight_leg_registration_code','actual_flight_leg_fleet_name','actual_flight_leg_fleet_name_code'], inplace=True)

In [7]:
data.isnull().sum()

scheduled_flight_leg_block_off_date          0
scheduled_flight_leg_block_off_time          0
scheduled_flight_leg_block_off_date_utc      0
scheduled_flight_leg_block_off_time_utc      0
marketing_airline_code                       0
operating_flight_num                         0
origin_leg_iata_airport_code                 0
destination_leg_iata_airport_code            0
flight_leg_registration_code                 0
actual_flight_leg_fleet_name                 0
actual_flight_leg_fleet_name_code            0
FLIGHT_KEY                                   0
POS_DISP_TOTALES                             0
total_pax_qty                              228
total_capacity_leg_qty                     228
fo_pct                                     228
pax_weight_kg_qty                          681
pax_bags_qty                               680
pax_bags_net_weight_kg_qty                 680
total_pax_qty_est                          681
maximum_payload_kg_qty                     680
dtype: int64

In [16]:
AVG_total_pax_qty = round(data['total_pax_qty'].mean())
AVG_total_capacity_leg_qty = round(data['total_capacity_leg_qty'].mean())
AVG_fo_pct = data['fo_pct'].mean()
AVG_pax_weight_kg_qty = round(data['pax_weight_kg_qty'].mean())
AVG_pax_bags_qty = round(data['pax_bags_qty'].mean())
AVG_pax_bags_net_weight_kg_qty = round(data['pax_bags_net_weight_kg_qty'].mean())
AVG_total_pax_qty_est = round(data['total_pax_qty_est'].mean())
AVG_maximum_payload_kg_qty = round(data['maximum_payload_kg_qty'].mean())

In [27]:
AVG_total_capacity_leg_qty

305

In [23]:
data['total_pax_qty'].fillna(AVG_total_pax_qty, inplace=True)
data['total_capacity_leg_qty'].fillna(AVG_total_capacity_leg_qty, inplace=True)

<ipython-input-23-4613c43eb42d>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['total_capacity_leg_qty'].fillna(AVG_total_capacity_leg_qty, inplace=True)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3772 entries, 0 to 3790
Data columns (total 21 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   scheduled_flight_leg_block_off_date      3772 non-null   object
 1   scheduled_flight_leg_block_off_time      3772 non-null   object
 2   scheduled_flight_leg_block_off_date_utc  3772 non-null   object
 3   scheduled_flight_leg_block_off_time_utc  3772 non-null   object
 4   marketing_airline_code                   3772 non-null   object
 5   operating_flight_num                     3772 non-null   int64
 6   origin_leg_iata_airport_code             3772 non-null   object
 7   destination_leg_iata_airport_code        3772 non-null   object
 8   flight_leg_registration_code             3772 non-null   object
 9   actual_flight_leg_fleet_name             3772 non-null   object
 10  actual_flight_leg_fleet_name_code        3772 non-null   object
 11  FLIGHT_KEY                               3772 non-null   object
 12  POS_DISP_TOTALES                         3772 non-null   int64
 13  total_pax_qty                            3772 non-null   float64
 14  total_capacity_leg_qty                   3772 non-null   float64
 15  fo_pct                                   3544 non-null   float64
 16  pax_weight_kg_qty                        3091 non-null   float64
 17  pax_bags_qty                             3092 non-null   float64
 18  pax_bags_net_weight_kg_qty               3092 non-null   float64
 19  total_pax_qty_est                        3091 non-null   float64
 20  maximum_payload_kg_qty                   3092 non-null   float64
dtypes: float64(8), int64(2), object(11)
memory usage: 648.3+ KB

In [26]:
data[data['fo_pct'].isnull()]

,scheduled_flight_leg_block_off_date,scheduled_flight_leg_block_off_time,scheduled_flight_leg_block_off_date_utc,scheduled_flight_leg_block_off_time_utc,marketing_airline_code,operating_flight_num,origin_leg_iata_airport_code,destination_leg_iata_airport_code,flight_leg_registration_code,actual_flight_leg_fleet_name,...,FLIGHT_KEY,POS_DISP_TOTALES,total_pax_qty,total_capacity_leg_qty,fo_pct,pax_weight_kg_qty,pax_bags_qty,pax_bags_net_weight_kg_qty,total_pax_qty_est,maximum_payload_kg_qty
0,2024-11-06,00:45:00,2024-11-05,23:45:00,LA,2485,MAD,LIM,CCBGE,B789,...,2485MADLIM2024-11-06,36,264.0,305.0,NaN,24554.0,370.0,6842.0,296.0,49853.0
40,2024-10-29,23:35:00,2024-10-29,22:35:00,LA,705,MAD,SCL,CCBGA,B789,...,705MADSCL2024-10-29,36,264.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN
51,2024-10-27,13:40:00,2024-10-27,12:40:00,LA,8075,MAD,MAD,PTMUA,B777,...,8075MADMAD2024-10-27,44,264.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN
68,2024-10-24,14:10:00,2024-10-24,12:10:00,LA,8075,MAD,CNF,CCBGP,B789,...,8075MADCNF2024-10-24,36,264.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN
84,2024-10-20,01:45:00,2024-10-19,23:45:00,LA,2485,MAD,LIM,CCBGL,B789,...,2485MADLIM2024-10-20,36,264.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3766,2022-01-08,21:50:00,2022-01-08,20:50:00,LA,9953,MAD,GRU,PSLAA,B789,...,9953MADGRU2022-01-08,36,264.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN
3767,2022-01-08,21:50:00,2022-01-08,20:50:00,LA,8065,MAD,GRU,PSLAA,B789,...,8065MADGRU2022-01-08,36,264.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN
3769,2022-01-08,21:50:00,2022-01-08,20:50:00,LA,9553,MAD,GRU,PSLAA,B789,...,9553MADGRU2022-01-08,36,264.0,305.0,NaN,0.0,0.0,0.0,0.0,57709.0
3777,2022-01-05,21:50:00,2022-01-05,20:50:00,LA,8065,MAD,GRU,PSLAA,B789,...,8065MADGRU2022-01-05,36,264.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN
3779,2022-01-05,21:50:00,2022-01-05,20:50:00,LA,1105,MAD,GRU,PSLAA,B789,...,1105MADGRU2022-01-05,36,264.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN